<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= current_page.data.title || "Patrick Wagstrom" %>">
    <meta name="author" content="Patrick Wagstrom / patrick@wagstrom.net">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title>Patrick Wagstrom<% if current_page.data.title %> :: <%= current_page.data.title %><% end %></title>
    
    <%= stylesheet_link_tag "normalize", "main", "resume", "print" %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

    <!-- add in the code for the local css -->
    <% if current_page.data.stylesheets %>
    <% current_page.data.stylesheets.each do |elem| %>
    <link rel="stylesheet" type="text/css" href="<%= elem.href %>" <% if elem.media %>media="<%= elem.media %>"<% end %>>
    <% end %>
    <% end %>

    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">

  <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar">&nbsp;</span>
        <span class="icon-bar">&nbsp;</span>
        <span class="icon-bar">&nbsp;</span>
        <span class="icon-bar">&nbsp;</span>
        <span class="icon-bar">&nbsp;</span>
      </button>
      <a class="navbar-brand" href="<%= relbase %>/" id="navbar-home" class="active"><i class="fa fa-home"></i>&nbsp;Patrick Wagstrom</a>
    </div>
 
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li <%= is_active("projects") %>><a href="<%= relbase %>/projects/" id="navbar-projects">Projects</a></li>
        <li <%= is_active("publications") %>><a href="<%= relbase %>/publications/" id="navbar-publications">Publications</a></li>
        <li <%= is_active("resume") %>><a href="<%= relbase %>/resume/" id="navbar-resume">Resume</a></li>
        <li <%= is_active("cv") %>><a href="<%= relbase %>/cv/" id="navbar-cv">CV</a></li>
        <li <%= is_active("weblog") %>><a href="<%= relbase %>/weblog/" id="navbar-weblog">Weblog</a></li>
      </ul>
    </div>
  </nav>

  <div class="container white-rounded" id="main-content">
    <div class="row">
      <div class="col-md-12" id="main-content-container">
    <%= yield %>
      </div>
  </div>
</div>

<footer role="contentinfo">
  <div class="container white-rounded" id="footer-content">
    <div class="pw-footer-social">
      <ul>
        <li><a href="https://facebook.com/patrick.wagstrom/" class="btn btn-primary"><i class="fa fa-facebook icon-large"></i> FaceBook</a></li>
        <li><a href="https://twitter.com/pridkett/" class="btn btn-primary"><i class="fa fa-twitter icon-large"></i> Twitter</a></li>
        <li><a href="https://plus.google.com/+PatrickWagstrom/" class="btn btn-primary"><i class="fa fa-google-plus icon-large"></i> Google+</a></li>
        <li><a href="https://github.com/pridkett/" class="btn btn-primary"><i class="fa fa-github icon-large"></i> GitHub</a></li>
        <li><a href="http://www.youtube.com/user/pridkett/videos" class="btn btn-primary"><i class="fa fa-youtube icon-large"></i> YouTube</a></li>
        <li><a href="http://stackoverflow.com/users/57626/pridkett" title="StackOverflow Profile" class="btn btn-primary"><i class="fa fa-stack-overflow"></i> StackOverflow</a></li>
        <li><a href="http://stackexchange.com/users/23095/pridkett" title="StackExchange Profile" class="btn btn-primary"><i class="fa fa-stack-exchange"></i> StackExchange</a></li>
        <li><a href="http://www.linkedin.com/in/pwagstrom" title="LinkedIn Profile" class="btn btn-primary"><i class="fa fa-linkedin"></i> LinkedIn</a></li>
      </ul>
    </div>
    <p>Crafted with <a href="http://daringfireball.net/projects/markdown/">Markdown</a>, <a href="http://middlemanapp.com/">Middleman</a>, <a href="http://getbootstrap.com/">Bootstrap</a>, <a href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a> and a lot of <i class="fa fa-heart" style="color: red;"></i> in Connecticut. Check it out on <a href="https://github.com/pridkett/patrick.wagstrom.net/">GitHub</a>.</p>
  </div>
</footer>
<script src="//code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js" type="text/javascript"></script>
<%# insert code for local javascripts %>
<% if current_page.data.javascripts %>
<% current_page.data.javscripts.each do |elem| %>
<script src="<%= elem.src %>" type="text/javascript"></script>
<% end %>
<% end %>
<script src="/javascripts/instantclick.min.js" data-no-instant type="text/javascript"></script>
<%# <script data-no-instant>InstantClick.init();</script> %>
</body>
</html>
